$size-0: 0rem;
$size-0-25: 0.25rem;
$size-0-5: 0.5rem;
/*14px*/
$size-0-875: 0.875rem;
/*16px*/
$size-1: 1rem;
/*18px*/
$size-1-125: 1.125rem;
/*20px*/
$size-1-25: 1.25rem;
/*24px*/
$size-1-5: 1.5rem;
/*28px*/
$size-1-75: 1.75rem;
$size-2: 2rem;
$size-2-25: 2.25rem;
$size-2-5: 2.5rem;
$size-3: 3rem;




