html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
  border:none;
  outline:none;
}

.laestancia {
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    padding-top: 78px;
}

h4 {text-align: center; grid-row: 1; grid-column: span 2;}

.sub_contacto {text-align: center; grid-row: 2; grid-column: span 2;color: bisque}


body {background-color: rgb(29, 29, 29)}

p {font-size: 1.5em;
    color: rgb(255, 255, 255);
    font-family: 'DM Sans';
    font-weight: 200;
    letter-spacing: 0.5px;
}


p a {font-size: 1em;
  color: rgb(255, 255, 255);
  font-family: 'DM Sans';
  font-weight: 200;
  letter-spacing: 0.5px;
}


h1,h3 {font-size: 1.5em;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: bisque;
}

h2 {font-size: 2.5em;
    text-align: center;
    font-family: "Playfair Display", cursive;
    color: bisque;
    letter-spacing: 0.10em;
}

h4 {font-size: 2.3em;
    text-align: center;
    font-family: "Playfair Display", cursive;
    color: bisque;
}



.titulo_bodegas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.titulo_bodegas .uv_l {
    float:left;
    position: relative;
    max-width: 5%;
    max-height: 5%;
    }

.titulo_bodegas .uv_r {
    float: right;
    position: relative;
    max-width: 5%;
    max-height: 5%;
}


.titulo_gastro {position: relative;

}


footer {color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    font-size: 1em;
    margin-bottom: 1em;
}

/* nombre bodega */
.nombre_bodega {position: relative;
    font-family: "Freehand", cursive;
    font-weight: 300;
    font-style: normal;
    display: flex;
    font-size: 5em;
    color: white;
    position: absolute;
}

footer p {text-align: center;}

label{
    display: block;
    font-size: 1em;
    color: bisque;
    font-family:'DM Sans';
    text-align: left;
    justify-content: center;
}

#Boton {color: bisque;}
#Boton:hover {
  color: black;
}


input, select {
    display:block;
    font-size: 1em;
    color: bisque;
    font-family:'DM Sans', sans-serif;
    justify-content: center;
    box-shadow: none;
    background-color: transparent;
    border:none;
    outline:1px solid bisque;

}
input:hover , input:focus, select:hover, select:focus {

    border:none;
    outline: 2px solid bisque;

}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: bisque;
  background-color: bisque;

}
input[type="file"] {
  display: none;
}
.file-label {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: goldenrod;

  border: none;


  border-radius: 4px;

  cursor: pointer;
  text-align: center;
}

input[type="text"], input[type="date"], input[type="file"], input[type="number"], input[type="email"], select {
    height:2.5em !important;
}

.uploadkit-invalid .uploadkit-button {
  background-color: #3333CC !important;
}


.file-label:hover {
  background-color: rgb(238, 211, 60);
}


select option {
  background-color: black;
}


a {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}

/* creo animaciones */
input[type=submit]:hover {
  background-color:goldenrod;
  color: black;
}

/* estilos links */
a:link {
color: goldenrod;
}
a:visited {color: bisque}

/* mouse over link */
a:hover {
color: white;
}

.contacto_container {
  background-color: rgba(255,255,255,0.06);
}
.mapa {
  flex: 1 1 auto;
  overflow: hidden;
}


  .cont_quienes .descr {
    max-width: 900px;
  }

.descr p{
    font-family:'DM Sans';
    font-weight:200;
    font-size:1.2rem;
    color:bisque;
    letter-spacing:0.5px;
}


  .cont_quienes .campo-slideshow {

    position: relative;
}

    .titulo_quienes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;}

  .titulo_quienes .uv_l {
          float:left;
          position: relative;
          max-width: 5%;
          max-height: 5%;
        }

  .titulo_quienes .uv_r {
      float: right;
      position: relative;
      max-width: 5%;
      max-height: 5%;
  }


  .cont_bodegas .descr_bodega {
    color: white;
    font-size: 1em;
  }


  .cont_bodegas .bodega-slideshow {
    position: relative;
  }



    .cont_gastro .descr_gastro {
      color: white;
      font-size: 1em;
    }


    .cont_gastro .gastro-slideshow {
      position: relative;
}


      .titulo_gastro {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;}

    .titulo_gastro .uv_l {
            float:left;
            position: relative;
            max-width: 5%;
            max-height: 5%;
          }

    .titulo_gastro .uv_r {
        float: right;
        position: relative;
        max-width: 5%;
        max-height: 5%;
    }


/*IMPORTANTE */
    .slideshow-style img {
      border-radius: 1rem;
    }
    img {
      width: 100%;
     }


/*IMPORTANTE */
.w3-btn,.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.w3-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}


.w3-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%,-50%);
  -ms-transform: translate(-0%,-50%)
}

.w3-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%,-50%);
  -ms-transform: translate(0%,-50%)
}

.w3-display-container:hover .w3-display-hover {
  display: block
}

.w3-display-container:hover span.w3-display-hover {
  display: inline-block
}

.w3-display-hover {
  display: none
}

.w3-display-position {
  position: absolute
}


.w3-button:hover {
  color: #000!important;
  background-color: #ccc!important
}

.w3-transparent,.w3-hover-none:hover {
  background-color: transparent!important
}

.w3-hover-none:hover {
  box-shadow: none!important
}


.w3-black,.w3-hover-black:hover {
  color: #fff!important;
  background-color: #000!important
}

.form_contacto {
        flex: 1 1 auto;
  }


/* MOBILE */
@media all and (max-width: 599px) {
 #quienes_somos, #bodegas, #gastro, #contacto {
        padding-top: 0 !important;
        margin-top: 1rem !important;
        gap:0;

    }
  #quienes_somos {
       margin-top: 1rem !important;
  }

.laestancia img {width: 150%;}


p {font-size: 1em;
text-align: initial;
}

.menu {
margin: 1em auto;
}


div.sticky {
top: 0;
font-size: 1em;
justify-content: center;
width: 100%;
margin: 0;
padding: 0;
}


.menu-nav ol {
display: flex;
list-style-type: none;
padding: 0;
justify-content: center;
padding: 0.5em;
margin: 0;
font-size: large;
}



.laestancia {
display: flex;
position:relative;
justify-content: center;
align-items: center;
}

h1,h3 {font-size: 1em;
}

h2 {font-size: 1.5em;
text-align: center;
}

h4 {font-size: 1.7em;
text-align: center;}


.titulo_bodegas {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
position: relative;
}


.titulo_bodegas .uv_l {
float:left;
position: relative;
max-width: 5%;
max-height: 5%;
}

.titulo_bodegas .uv_r {
float: right;
position: relative;
max-width: 5%;
max-height: 5%;
}



footer {
justify-content: center;
font-size: 1em;
margin-bottom: 1em;
text-align: center;
}


/* nombre bodega */
.nombre_bodega {position: relative;
display: flex;
font-size: 2.3em;
position: absolute;
}


.titulo_quienes {display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
position: relative;
}


.cont_quienes {
display: flex;
flex-direction: column;
row-gap: .1em;
justify-content: center;
align-items: center;
/*
margin-bottom: 7em;
*/
}

.cont_quienes .descr {

  font-size: 1em;
  position: relative;
  margin: 0;
}

.cont_quienes .campo-slideshow {
max-width: 100%; margin-left: 0;
}

.titulo_quienes {
display: flex;
flex-direction: row;
position: relative;
}

.titulo_quienes .uv_l {
float:left;
position: relative;
max-width: 5%;
max-height: 5%;
}

.titulo_quienes .uv_r {
float: right;
position: relative;
max-width: 5%;
max-height: 5%;
}



.cont_bodegas {
  display: flex;
  flex-direction: column;
  row-gap: .1em;
  justify-content: center;
  align-items: center;

}

.cont_bodegas .descr_bodega {
  width: 80%;
  font-size: 1em;
  position: relative;
  margin: 0;
}


.cont_bodegas .bodega-slideshow {
    max-width: 100%;
    margin-left: 0;

}


.cont_gastro {
  display: flex;
  flex-direction: column;
  row-gap: .1em;
  justify-content: center;
  align-items: center;

}

.cont_gastro .descr_gastro {
  width: 80%;
  font-size: 1em;
  position: relative;
  margin: 0;
}


.cont_gastro .gastro-slideshow {
    max-width: 100%;
    margin-left: 0;

}


.titulo_gastro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;}

.titulo_gastro .uv_l {
    float:left;
    position: relative;
    max-width: 5%;
    max-height: 5%;
    }

.titulo_gastro .uv_r {
float: right;
position: relative;
max-width: 5%;
max-height: 5%;
}



h4 {text-align: center; grid-row: 1;}

.sub_contacto {text-align: center; grid-row: 2;}


    .cont_contacto {
        align-items:unset !important;
    }
    .contacto_container{
        padding:1rem !important;
        width:100% !important;
    }



}


#mensaje p {
  font-size: 1em;
    color: bisque;
    font-family: 'DM Sans';
    text-align: center;
}

/* TABLET */
@media all and (min-width: 600px) and (max-width: 1020px) {
    #bodegas, #gastro, #contacto {
        padding-top: 0 !important;

    }
  .descr p{
        font-size:1.3em;
    }

  p {font-size: 1em;}

  .menu {
  margin: 1em auto;
  }


  div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 1em;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  }


  .menu-nav ol {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  padding: 0.5em;
  margin: 0;
  font-size: large;
  }


  .laestancia {
  display: flex;
  position:relative;
  justify-content: center;
  align-items: center;
  }

  h1,h3 {font-size: 1em;
  }

  h2 {font-size: 1.5em;
  text-align: center;
  }

  h4 {font-size: 1.7em;
  text-align: center;}


  .titulo_bodegas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;}

  .titulo_bodegas .uv_l {
  float:left;
  position: relative;
  max-width: 5%;
  max-height: 5%;
  }

  .titulo_bodegas .uv_r {
  float: right;
  position: relative;
  max-width: 5%;
  max-height: 5%;
  }


  .titulo_gastro {display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;}


  footer {
  justify-content: center;
  font-size: 1em;
  margin-bottom: 1em;
  text-align: center;
  }


  /* nombre bodega */
  .nombre_bodega {position: relative;
  display: flex;
  font-size: 2.3em;
  position: absolute;
  }


  .titulo_quienes {display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  }


  .cont_quienes {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  justify-content: center;
  align-items: center;
  }

  .cont_quienes .descr {
    font-size: 1em;
    position: relative;
    margin: 0;
  }

  .cont_quienes .campo-slideshow {
  max-width: 100%; margin-left: 0;
  }

  .titulo_quienes {
  display: flex;
  flex-direction: row;
  position: relative;
  }

  .titulo_quienes .uv_l {
  float:left;
  position: relative;
  max-width: 5%;
  max-height: 5%;
  }

  .titulo_quienes .uv_r {
  float: right;
  position: relative;
  max-width: 5%;
  max-height: 5%;
  }



  .cont_bodegas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;}

  .cont_bodegas .descr_bodega {
    width: 80%;
    font-size: 1em;
    position: relative;
    margin: 0;
  }


  .cont_bodegas .bodega-slideshow {
    max-width: 100%;
    margin-left: 0;
    }


  .cont_gastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .cont_gastro .descr_gastro {
    width: 80%;
    font-size: 1em;
    position: relative;
    margin: 0;
  }


  .cont_gastro .gastro-slideshow {
    max-width: 100%;
    margin-left: 0;
    }


  .titulo_gastro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;}

  .titulo_gastro .uv_l {
      float:left;
      position: relative;
      max-width: 5%;
      max-height: 5%;
      }

  .titulo_gastro .uv_r {
  float: right;
  position: relative;
  max-width: 5%;
  max-height: 5%;
  }


  h4 {text-align: center; grid-column: span 3; grid-row: 1;}


}


