.textos {
    display: flex;
    margin: 2em 4em 2em 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-style: ridge;
    justify-content: center;
    text-align: center;
}

.cont_contacto {display: grid;
    grid-template-columns: 1fr 1fr; 
    max-width: 80%;
    border: 0.1em; 
    border-style: ridge;
    margin: 0 auto;
    row-gap: 1em;
    column-gap: 0.5em;
    max-width: 55em;
    padding-bottom: 1em;
    margin-bottom: 5em;
}


h4 {text-align: center; grid-row: 1; grid-column: span 2;}

.sub_contacto {text-align: center; grid-row: 2; grid-column: span 2;}

.cont_contacto .form_contacto {grid-column: 1; grid-row: 3;}
.cont_contacto .mapa {grid-column: 2; grid-row: 3;}

.form_contacto {position: relative; left: 5%;}


body {background-color: rgb(29, 29, 29)}

p {font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'DM Sans';
}

h1,h3,h4 {font-size: 1.5em;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: bisque;
}

h2 {font-size: 2.5em;
    text-align: center;
    font-family: "Playfair Display", cursive;
    color: bisque;
    letter-spacing: 0.10em;
    }


footer {color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.laestancia {
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    margin: 0em;
    margin-bottom: 25em;
    padding: 0em;}

.idioma {position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(255, 255, 255, 0.3); /* Color de fondo semi-transparente */
    width: 100%;
    padding: 0.1em;
    text-align: center;
}

/* nombre bodega */
.nombre_bodega {position: relative;
    font-family: "Freehand", cursive;
    font-weight: 300;
    font-style: normal;
    display: flex;
    font-size: 5em;
    color: white;
    position: absolute;
  }

footer {text-align: center;}

label{
    display: block;
    font-size: 1em;
    color: bisque;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin: 1em;
    text-align: left;
    justify-content: center;
}

#Boton {color: black}

input {display:block;
    font-size: 1em;
    color: black;
    margin: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
}


a {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: small;}

/* creo animaciones */
input[type=submit]:hover {background-color: rgb(238, 211, 60);}

/* estilos links */
a:link {
    color: goldenrod;
  }
  a:visited {color: bisque}
  
  /* mouse over link */
  a:hover {
    color: white;
  }


@media all and (min-width: 600px) and (max-width: 1023px) {

    .textos {
        display: flex;
        margin: 2em 4em 2em 4em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    .cont_contacto {display: grid;
        grid-template-columns: 1fr 1fr; 
        max-width: 80%;
        border: 0.1em; 
        border-style: ridge;
        margin: 0 auto;
        row-gap: 1em;
        column-gap: 0.5em;
        max-width: 70%;
    }
    
    
    h4 {text-align: center; grid-row: 1; grid-column: span 2;}
    
    .sub_contacto {text-align: center; grid-row: 2; grid-column: span 2;}
    
    .cont_contacto .form_contacto {grid-column: 1; grid-row: 3;}
    .cont_contacto .mapa {grid-column: 2; grid-row: 3;}
    
    .form_contacto {position: relative; left: 10%;}
    
    
    h1,h2,h3,h4 {font-size: 1em;
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: bisque;
    }
    
    
    footer {color: rgb(255, 255, 255);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        justify-content: center;
    }

    .imagen-recortada{float: center;}
    
    .laestancia {
        display: flex;
        position:relative;
        justify-content: center;
        align-items: center;
        margin: 0em;
        margin-top: 5em;
        margin-bottom: 5em;
        padding: 0em;}
    
    
    .nombre_bodega {position: relative;
        font-family: "Freehand", cursive;
        font-weight: 300;
        font-style: normal;
        display: flex;
        font-size: 5em;
        color: white;
        position: absolute;
      }
    
    footer {text-align: center;}
    
    label{
        display: block;
        font-size: 1em;
        color: bisque;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        margin: 1em;
        text-align: left;
        justify-content: center;
    }
    
    #Boton {color: black}
    
    input {display:block;
        font-size: 1em;
        color: black;
        margin: 1em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        justify-content: center;
    }
    


}