.menu {
    margin: 1em auto;
}


/*media query*/
@media screen and (min-width: 52em) {
    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .menu {
        max-width: 52em;
    }
}  /*fin mediaquery*/

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 1em;
    justify-content: center;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
  }


.menu-nav ol {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center; /* Alinea los elementos en el centro horizontal */
    padding: 0.5em;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: large;
}

.menu-nav ol li {
    margin-right: 20px; /* Ajusta el espacio entre los elementos si es necesario */
    
}

.menu-nav ol li a {
    text-decoration: none;
}