* {
  box-sizing: border-box;
}


.cont_quienes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10em;
}

.cont_quienes .descr {
  width: 50%;
  color: white;
  margin-left: 2.5em;
  font-size: 1em;
  position: relative;
  -ms-transform: translateY(+30%);
  transform: translateY(30%);
}


.cont_quienes .campo-slideshow {
  width: 70vh;
  max-height: 80vh;   
  margin-left: 9em; 
  position: relative;
  -ms-transform: translateY(+35%);
  transform: translateY(+35%);}

  .titulo_quienes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    -ms-transform: translateY(+100%);
    transform: translateY(+100%);}

.titulo_quienes #uv_l {
        float:left;
        position: relative;
        max-width: 5%;
        max-height: 5%;
      }
      
.titulo_quienes #uv_r {
    float: right;
    position: relative;
    max-width: 5%;
    max-height: 5%;
}




.cont_bodegas {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15em;
}

.cont_bodegas .descr_bodega {
  width: 50%;
  color: white;
  margin-left: 2.5em;
  font-size: 1em;
  position: relative;
  -ms-transform: translateY(+50%);
  transform: translateY(50%);
}


.cont_bodegas .bodega-slideshow {
  width: 70vh;
  max-height: 80vh;   
  margin-left: 9em; 
  position: relative;
  -ms-transform: translateY(+50%);
  transform: translateY(+50%);}


  .cont_gastro {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15em;
  }
  
  .cont_gastro .descr_gastro {
    width: 50%;
    color: white;
    margin-left: 2.5em;
    font-size: 1em;
    position: relative;
    -ms-transform: translateY(+50%);
    transform: translateY(+50%);
  }
  
  
  .cont_gastro .gastro-slideshow {
    width: 70vh;
    max-height: 80vh;   
    margin-left: 9em; 
    position: relative;
    -ms-transform: translateY(+50%);
    transform: translateY(+50%);}


    .titulo_gastro {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;
      -ms-transform: translateY(+100%);
      transform: translateY(+100%);}
  
  .titulo_gastro #uv_l {
          float:left;
          position: relative;
          max-width: 5%;
          max-height: 5%;
        }
        
  .titulo_gastro #uv_r {
      float: right;
      position: relative;
      max-width: 5%;
      max-height: 5%;
  }




img {
  width: 100%;
 }

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}



@media all and (min-width: 600px) and (max-width: 1023px) {

  #bodegas {height: 70vh;}
  #quienes_somos {height: 70vh;}


  .cont_quienes {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 60vh;
    max-width: 90%;
  }
  
  .cont_quienes .descr{
    grid-column: 1;
    grid-row: span 7 / 12;
    width: 100%;}
  
  .cont_quienes .campo-slideshow {
    grid-column: 1;
    grid-row: span 1 / 6;
    width: 70%;}
  
  
  .cont_bodegas {
    height: 60vh;
    max-width: 90%;
  }
  
  .cont_bodegas .descr_bodega {
      margin: 0em;}
  
  .cont_bodegas .bodega-slideshow {margin: 5em;max-height: 80vh;}


}