* {
  box-sizing: border-box;
}

.cont_quienes {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  margin-bottom: 25em;
  margin-top: 5em;
}

.cont_quienes .descr{
  width: 50%;
  font-size: 1.5em;
  color: white;
  margin-left: 2.5em;
}


.cont_quienes .campo-slideshow {width: 70vh; max-height: 80vh;   margin-left: 9em;}


.cont_bodegas {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  margin-bottom: 25em;
  margin-top: 5em;
}

.cont_bodegas .descr_bodega {
  width: 50%;
  color: white;
  margin-left: 2.5em;
  font-size: 1.5em;
}

.titulo_bodegas {
  flex-wrap: nowrap;
  }

.cont_bodegas .bodega-slideshow {width: 70vh; max-height: 80vh;   margin-left: 9em;}

img {
  width: 100%;
 }

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}



@media all and (min-width: 600px) and (max-width: 1023px) {

  #bodegas {height: 70vh;}
  #quienes_somos {height: 70vh;}


  .cont_quienes {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 60vh;
    max-width: 90%;
  }
  
  .cont_quienes .descr{
    grid-column: 1;
    grid-row: span 7 / 12;
    width: 100%;}
  
  .cont_quienes .campo-slideshow {
    grid-column: 1;
    grid-row: span 1 / 6;
    width: 70%;}
  
  
  .cont_bodegas {
    height: 60vh;
    max-width: 90%;
  }
  
  .cont_bodegas .descr_bodega {
      margin: 0em;}
  
  .cont_bodegas .bodega-slideshow {margin: 5em;max-height: 80vh;}




}